<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>VueJS Zero to Mastery</title>
  </head>
  <body>
    <div id="app">
      <div class="block" v-if="mode == 1">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
        facere!
      </div>
      <div class="block" v-else-if="mode == 2">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quasi
        inventore aspernatur labore eum. Atque dolores velit fugit explicabo
        voluptatum!
      </div>
      <div class="block" v-else>Lorem.</div>

      <select name="select" id="select" v-model="mode">
        <option value="1">v-if</option>
        <option value="2">v-if-else</option>
        <option value="3">v-else</option>
      </select>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="./script.js"></script>
  </body>
</html>
